.Form {
  display: grid;
  align-self: start;
  justify-self: center;
  background: rgba(22, 22, 22, 0.486);
  padding: 40px;
}

h1 {
  justify-self: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}

.inputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "label input"
    "- msg";
  margin-bottom: 40px;
}

.errorMessage {
  font-size: 0.9rem;
  margin-top: 3px;
  color: rgb(241, 52, 52);
  grid-area: msg;
}
