.countryEdit {
  justify-self: center;
  display: grid;
  align-self: flex-start;
}

.Form {
  color: black;
  display: grid;
  align-self: flex-start;
  justify-self: center;
  background: white;
  padding: 40px;
}
