.ok {
  justify-self: center;
  align-self: center;
  background: none;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
  color: white;
  text-align: center;
  padding: 8px 10px;
  border: 2px solid green;
  border-radius: 5px;
  transition: all 0.3s;
}

.ok:hover {
  cursor: pointer;
  background-color: green;
}
