.ok {
  justify-self: center;
  align-self: center;
  background: green;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  color: white;
  text-align: center;
  padding: 8px 10px;
  border: 2px solid green;
  border-radius: 5px;
  transition: all 0.3s;
}

.ok:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.controls {
  margin-right: 15px;
}
