.inputs {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  max-width: 350px;
  font-family: "Sarabun", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.hasErrors {
  border: 2px solid rgb(241, 52, 52);
}
