.ok {
  margin-top: 10px;
  text-align: center;
  color: rgb(29, 206, 29);
  font-weight: bold;
}

.error {
  margin-top: 10px;
  text-align: center;
  color: rgb(206, 29, 29);
  font-weight: bold;
}
